* {
    box-sizing: border-box;
    font-family: 'Work Sans', 'Open Sans', sans-serif;
}

.monospace {
    font-family: "Noto Sans Mono", monospace !important;
    font-weight: bold;
    text-transform: initial;
}

:root {
    --primary-color: #352631;
    --secondary-color: #523f4e;
    --third-color: #bda3b1;

    --h1-color: #a71717;
    --nav-color: #a31f1f;
    --nav-color-highlight: #d31020;
    --font-color: #b9444a;

    --border-color: #6d0f0f;

    --sticky-distance: 20px;

    color: var(--font-color);

}

h2 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.1em;
    line-height: 1.35em;
    margin: 0px;
}

header {
    position: relative;
    padding: 20px;
    background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 30%, var(--secondary-color) 70%, var(--primary-color) 100%);
    border-bottom: 2px var(--border-color) solid;
}

header h1 {
    text-align: center;
    color: var(--h1-color);
    font-size: 2em;
}

@media screen and (min-width :992px) {
    header h1 {
        font-size: 2.8em;
    }
}

@media screen and (min-width :1200px) {
    header h1 {
        font-size: 3.5em;
    }
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 15px;
}

nav li {
    margin-inline: auto;
}

nav a {
    display: block;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--nav-color);
    letter-spacing: 0.05em;
    width: fit-content;
    padding-block: 10px 7px;
    cursor: pointer;
}

@media screen and (min-width :576px) {
    nav a {
        font-size: 1.2em;
    }
}

@media screen and (min-width :992px) {
    nav a {
        font-size: 1.4em;
    }
}

nav a.navSelected,
nav a:hover,
nav a:focus {
    color: var(--nav-color-highlight);
}

nav a *{
    pointer-events: none;
}

nav a .capitalize {
    text-transform: capitalize;
}

#navSetting {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    color: var(--nav-color);
    font-weight: bold;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#navSetting:hover {
    filter: brightness(1.3);
}

.unavailable:hover {
    cursor: not-allowed;
}

#settingModal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 99;
}

#settingWindow {
    position: relative;
    padding: 10px;
    margin-inline: auto;
    margin-block-start: 50px;
    width: clamp(300px, 70%, 800px);
    color: var(--h1-color);
    background-color: var(--primary-color);
    border: 3px solid var(--border-color);
    z-index: 1;
}

#settingWindow button {
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: bold;
    padding: 4px 10px;
    border: 2px solid var(--border-color);
    margin: 3px;
    border-radius: 5px;
    color: var(--font-color);
    background: transparent;
    cursor: pointer;
}

#settingWindow button:hover {
    filter: saturate(2)
}

#settingWindow button.langSelected {
    filter: brightness(2);
}


#settingBackground {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

#settingWindowCloseBtn {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
}



main {
    min-width: 360px;
    padding-top: 30px;
    background-color: var(--primary-color);
    min-height: calc(100vh - 237px);
    display: flex;
    flex-direction: column;
}




/* ranking sheet*/

#rankingSheetWrapper {
    margin: 0 auto 20px;
    width: clamp(360px, 90%, 800px);
}

@media screen and (min-width :1200px) {
    #rankingSheetWrapper {
        width: clamp(500px, 40%, 800px);
    }
}

#rankingSheetFilter {
    margin-bottom: 20px;
    padding: 10px;
    position: sticky;
    top: var(--sticky-distance);
    background-color: var(--primary-color);
    z-index: 1;
    border: 5px solid var(--border-color);
}

#rankingSheetWrapper::before {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    height: var(--sticky-distance);
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
}

#rankingSheetFilterTitle {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0;
}

#rankingSheetFilter>button {
    text-transform: capitalize;
    letter-spacing: 0.3px;
    padding: 4px 10px;
    border: 2px solid var(--border-color);
    margin: 3px;
    border-radius: 5px;
    color: var(--font-color);
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}

#rankingSheetFilter>button:hover {
    filter: saturate(2);
}

#rankingSheetFilter>button.filterSelected {
    filter: brightness(2);
}

#rankingSheet {
    width: 100%;
    font-weight: bold;
    --icon-size: 60px;

}

@media screen and (min-width :576px) {
    #rankingSheet {
        --icon-size: 70px;
    }
}

#rankingSheet,
#rankingSheet caption,
#rankingSheet td {
    border-collapse: collapse;
    border: 5px solid var(--border-color);
    text-align: center;
}

#rankingSheet caption {
    border-bottom: none;
    /*for the unknown border between caption and element below */
}

#rankingSheet caption h2 {
    padding: 10px 0;
    margin: auto;
    text-transform: capitalize;
}

#rankingSheet thead td {
    padding-block: 5px;
    text-transform: capitalize;
}

#rankingSheet td:first-child {
    width: 100px;
}

td:last-child {
    align-items: start;
}

#star5,
#star4,
#star3,
#star2,
#star1 {
    min-height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--icon-size));
    justify-content: space-between;
}

.perksBtn {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0px;
    cursor: pointer;
    border-radius: 50%;
}

.perksBtn.perkSelected {
    outline: 3px solid firebrick;
    outline-offset: -5px;
}

.perksBtn::before {
    position: absolute;
    top: 50px;
    left: 50px;
    content: attr(id);
    padding: 3px;
    width: max-content;
    display: none;
    background-color: #521313;
    border: 2px var(--border-color) solid;
    z-index: 1;
}

.perksBtn:hover::before {
    display: block;
}

.perksIcon {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.filterMode .perksBtn:not(.filterPerks)>.perksIcon {
    filter: opacity(0.3);
}



/* description */

#contentWrapper {
    position: fixed;
    z-index: 2;
    background-color: var(--primary-color);
    top: 50px;
    left: 2.5vw;
    width: 95%;
    border: 5px var(--secondary-color) solid;
    padding: 20px;
    margin-top: var(--sticky-distance);
    opacity: 0;
    transform: translateY(30px);
    transition: none;
    pointer-events: none;
}

@media screen and (min-width :1200px) {
    #contentWrapper {
        opacity: 1;
        transform: translateY(0px);
        /* max-height: calc(100svh - var(--sticky-distance));
        overflow-y: auto; */
    }
}

#contentWrapper.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: initial;
    transition: all 0.5s cubic-bezier(0, 0.5, 0, 1);
}

#content {
    width: 95%;
    max-height: 700px;
    padding: 10px;
    margin: auto;
    overflow: auto;
}

#content_background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
    position: fixed;
    inset: 0;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

#content_background.show {
    display: block;
}


#content_closeBtn {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#content h2 {
    padding: 20px 0 30px;
    margin: 0 auto;
    text-transform: capitalize;
}

#content_info,
#content_default {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 3px solid var(--border-color);
    list-style-position: outside;
}

.content_hide {
    display: none;
}

#content_info>img {
    height: 70px;
    margin: -20px;
}

#content_info>li {
    text-align: start;
}

@media screen and (min-width :576px) {
    #wrapper {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }
}

@media screen and (min-width :1200px) {
    main {
        flex-direction: row;
        justify-content: center;
    }

    #wrapper {
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
    }

    #rankingSheetWrapper {
        z-index: 3;
        margin-inline: 10px;
    }

    #contentWrapper {
        position: sticky;
        top: var(--sticky-distance);
        left: 0;
        margin-inline: 10px;
        width: min(60%,800px);
        height: fit-content;
        padding: 20px;
        display: block;
    }

    #content {
        max-height: unset;
        overflow: unset;
    }

    #content_closeBtn {
        display: none;
    }

    #content_background {
        display: none;
    }

    #content_background.show {
        display: none;
    }
}